<div class="coupon-container">
<div class="coupon">
  <div class="container">
  <img src="assets/Kale-And-Sausage-Pizza-1536x1024.jpeg" alt="Avatar" style="width:50%;">
  </div>
  <div class="container" style="background-color:white">
    <h2><b>20% OFF ON YOUR PURCHASE</b></h2>
    <p>Buy the small pizza at highly discounted time on your first purchase</p>
  </div>
  <div class="container">
    <p>Use Promo Code: <span class="promo">AIP13</span></p>
    <p class="expire">Expires: April 14, 2023</p>
  </div>
</div>

<div class="coupon">
  <div class="container">
  <img src="assets/Deluxe-Veggie-Pizza.jpeg" alt="Avatar" style="width:50%;">
  </div>
  <div class="container" style="background-color:white">
    <h2><b>30% OFF ON YOUR PURCHASE</b></h2>
    <p>Buy the Large pizza at highly discounted time on your first purchase</p>
  </div>
  <div class="container">
    <p>Use Promo Code: <span class="promo">PH300</span></p>
    <p class="expire">Expires: April 24, 2023</p>
  </div>
</div>

<div class="coupon">
  <div class="container">
  <img src="assets/Pepperoni-pizza-1536x1024.jpeg" alt="Avatar" style="width:50%;">
  </div>
  <div class="container" style="background-color:white">
    <h2><b>10% OFF ON YOUR PURCHASE</b></h2>
    <p>Buy the Medium pizza at highly discounted time on your first purchase</p>
  </div>
  <div class="container">
    <p>Use Promo Code: <span class="promo">TMC10</span></p>
    <p class="expire">Expires: April 4, 2023</p>
  </div>
</div>
</div>
