<div class="coupon-container">
<div class="coupon">
  <div class="container">
  <img src="assets/iphone13.jpg" alt="Avatar" style="width:50%;">
  </div>
  <div class="container" style="background-color:white">
    <h2><b>20% OFF ON YOUR PURCHASE</b></h2>
    <p>Own an iPhone 13 at a reduced price and super flexible EMI's options available</p>
  </div>
  <div class="container">
    <p>Use Promo Code: <span class="promo">AIP13</span></p>
    <p class="expire">Expires: October 14, 2022</p>
  </div>
</div>

<div class="coupon">
  <div class="container">
  <img src="assets/predator_helios_300.jpg" alt="Avatar" style="width:50%;">
  </div>
  <div class="container" style="background-color:white">
    <h2><b>30% OFF ON YOUR PURCHASE</b></h2>
    <p>The all mighty Gaming machine, Acer Predator Helios 300 at much more discounted price.</p>
  </div>
  <div class="container">
    <p>Use Promo Code: <span class="promo">PH300</span></p>
    <p class="expire">Expires: November 20, 2022</p>
  </div>
</div>

<div class="coupon">
  <div class="container">
  <img src="assets/themancompany_cream.jpg" alt="Avatar" style="width:50%;">
  </div>
  <div class="container" style="background-color:white">
    <h2><b>10% OFF ON YOUR PURCHASE</b></h2>
    <p>Stand out of the crowd. Buy the one of the trusted creams on discounted rates.</p>
  </div>
  <div class="container">
    <p>Use Promo Code: <span class="promo">TMC10</span></p>
    <p class="expire">Expires: December 07, 2022</p>
  </div>
</div>
</div>
