.main{
  display: flex;
  justify-content: center;
  /* margin-top: 50px; */
}

.content{
  max-width: 600px;
  padding: 40px;
  margin-top: 80px;
  background-color: #F0F0F0;
  border-radius: 20px;
}

.singup{
  display: flex;
  justify-content: center;
}


.btn{
  padding: 10px 25px;
}

.error-message { background-color: #ffcccc; color: red; padding: 1px; border-radius: 2px; margin-top: 5px; font-size: 14px;}