<div class="text-test">
  <h1><strong>My Wishlist</strong></h1>
</div>
<ng-container *ngIf="product.length != 0">
  <div class="container">
    <div class="card-table">
      <div class="cart-product">
        <table class="table table-responsive">
          <thead>
            <tr>
              <th>Sr No.</th>
              <th>Product Name</th>
              <th>Product image</th>
              <th>Description</th>
              <th>Price</th>
              <th>Total</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of product; let i = index">
              <td>{{ i + 1 }}</td>
              <td>{{ item.name }}</td>
              <td>
                <img
                  style="width: 120px"
                  src="assets/{{ item.imageURL }}"
                  alt=""
                />
              </td>
              <td style="width: 25%">{{ item.description }}</td>
              <td style="width: 12%">{{ item.price }}</td>
              <td style="width: 12%">{{ item.total }}</td>
              <td>
                <button (click)="removeItem(item)" class="btn btn-danger">
                  <i class="fas fa-trash-alt"></i>
                </button>
              </td>
            </tr>
            <tr>
              <td colspan="4"></td>
              <td>
                <button (click)="emptyWishlist()" class="btn btn-danger">
                  Empty Wishlist
                </button>
              </td>
              <td>
                <button routerLink="/home" class="btn btn-primary">
                  Add more items
                </button>
              </td>
              <td>
                <button
                  class="btn btn-success"
                  routerLink="cart"
                  (click)="onClick()"
                >
                  Check Out
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</ng-container>

<ng-container *ngIf="product.length == 0">
  <div class="container">
    <div class="card"></div>
    <div class="centre">
      <img
        src="https://rukminim1.flixcart.com/www/800/800/promos/16/05/2019/d438a32e-765a-4d8b-b4a6-520b560971e8.png?q=90"
        alt=""
      />
      <h4>Your Wishlist is empty !</h4>
      <h6>Add items now to save for later purchases</h6>
      <button routerLink="/home" class="btn btn-primary">Add Items Now</button>
    </div>
  </div>
</ng-container>
