

<div class="card-top container-fluid">
  <div class="container d-flex">
    <div class="item" (click)="showCategory('top_offers')">
      <a>
        <img
          class="img-container"
          src="https://media.istockphoto.com/vectors/congrats-poster-with-open-gift-box-ribbons-and-confetti-isolated-on-vector-id1256869305?k=20&m=1256869305&s=612x612&w=0&h=CVUOfkRUtcMpTk7amjfvU0W88BvaineL3M2WtuTfoEI="
          alt=""
        />
        <h4>Top Offers</h4>
      </a>
    </div>

    
    <div class="item" (click)="showCategory('small')">
      <a>
        <img class="img-container" src="assets/Kale-And-Sausage-Pizza-1536x1024.jpeg" alt="" />
        <h4>Small Pizza</h4>
      </a>
    </div>
    <div class="item" (click)="showCategory('medium')">
      <a>
        <img class="img-container" src="assets/Pepperoni-pizza-1536x1024.jpeg" alt="" />
        <h4>Medium Pizza</h4>
      </a>
    </div>
    <div class="item" (click)="showCategory('large')">
      <a>
        <img
          class="img-container"
          src="assets/Deluxe-Veggie-Pizza.jpeg"
          alt=""
        />
        <h4>Large Pizza</h4>
      </a>
    </div>
    
  </div>
</div>

<div>

</div>




<div class="container">
  <div class="row">
    <ng-container *ngFor="let item of productList">
      <div class="card col-md-2">
        <div class="icon-con">
        <i
          class="fas fa-heart"
          style="font-size: 20px; color: red; text-align: right; padding:5px;"
          (click)="addToWishlist(item)"
          *ngIf="confirmRole()"
        ></i></div>

        <img src="/assets/{{ item.imageURL }}" alt="" />
        <h5
          style="
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            max-width: 100ch;
          "
        >
          {{ item.name }}
        </h5>
        <p
          style="
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            max-width: 100ch;
          "
        >
          {{ item.description }}
        </p>
        <p><strong>Price:</strong>₹{{ item.price }}</p>
        <button
          *ngIf="confirmRole()"
          class="btn btn-dark"
          (click)="addtoCart(item)"
        >
          Add To Cart
        </button>
      </div>
    </ng-container>
  </div>
</div>


