.search-form{
  border: 1px;
  /* margin-top: 10px; */
  margin-left: auto;
  margin-right: auto;
}

.productcontainer{
  text-align: center;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 50px;
}

table {
  table-layout: fixed;
  width: 90%;
  border-collapse: collapse;
  border: 1px solid black;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 5px 10px #888888;
  border-radius: 5px;
  border-collapse:separate;
}

thead{
  background-color: #0D6EFD;
}

th{
  color: white;
  text-align: center;
}

thead th:nth-child(1) {
  width: 5%;
}

thead th:nth-child(2) {
  width: 10%;
}

thead th:nth-child(3) {
  width:15%;
}

thead th:nth-child(4) {
  width: 20%;
}

thead th:nth-child(5) {
  width: 10%;
}

thead th:nth-child(6) {
  width: 10%;
}

thead th:nth-child(7) {
  width: 15%;
}

thead th:nth-child(8) {
  width: 7%;
}

thead th:nth-child(9) {
  width: 8%;
}

th, td {
  padding: 20px;
}

th {
  letter-spacing: 2px;
}

td {
  letter-spacing: 1px;
}

tbody{
  border-radius: 10px;
}

tbody td {
  text-align: left;
}

tfoot th {
  text-align: right;
}

tbody tr:nth-child(odd) {
  background-color: rgb(248, 248, 248);
}

tbody tr:nth-child(even) {
  background-color: #d7ecff;
}

.add-product-container{
  text-align: center;
  width: 80%;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
}

.form-group label {
  float: left;
  font-weight: bold;
}

.btn-container {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding-top: 70px;
}



.text-test{
  margin-top: 20px;
}
