.container{
  margin-top: 0px;
  width: 100%;
}

table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  border: 3px solid black;
  margin-top: 80px;
}


.text-test{
  padding-top: 100px;
  text-align: center;
}

thead{
  background-color: #0D6EFD;
}

th{
  color: white;
}

thead th:nth-child(1) {
  width: 10%;
}

thead th:nth-child(2) {
  width: 10%;
}

thead th:nth-child(3) {
  width: 30%;
}

thead th:nth-child(4) {
  width: 25%;
}

thead th:nth-child(5) {
  width: 25%;
}

th, td {
  padding: 20px;
}

th {
  letter-spacing: 2px;
}

td {
  letter-spacing: 1px;
}

tbody td {
  text-align: center;
}

tfoot th {
  text-align: right;
}

tbody tr:nth-child(odd) {
  background-color: rgb(248, 248, 248);
}

tbody tr:nth-child(even) {
  background-color: #d7ecff;
}
