.form-control{
  border-radius: 3px;
  width: 600px;
  margin-left: 20px;
}


.btn-admin{
  float: right;
  background-color:white;
  color: blue;
  font-weight: bold;
}

.search-icon {
  position: absolute;
  z-index: 10;
  right: 42%;
  top: 20px;
  color: blue;
}

.navbar{
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  position:absolute;
  z-index:1;
  height: 70px;
  
  
  
}
