<div class="productcontainer">
  <div class="text-test">
    <h2><strong>Product snippet</strong></h2>
  </div>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Sr. No.</th>
        <th scope="col">Product Id</th>
        <th scope="col">Product Name</th>
        <th scope="col">Price</th>
        <th scope="col">Stock</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of products; let i = index">
        <td>{{ i + 1 }}</td>
        <td>{{ product.productId }}</td>
        <td>{{ product.name }}</td>
        <td>{{ product.price }}</td>
        <td>{{ product.stock }}</td>
      </tr>
    </tbody>
  </table>
</div>

<div class="buttoncontainer">
  <section class="buttons">
    <div class="button-row">
      <button mat-stroked-button color="primary" routerLink="../sales">
        Get Sales Reports
      </button>
      &nbsp;&nbsp;
      <button
        mat-stroked-button
        color="accent"
        routerLink="/admin/manage/products"
      >
        Get All Products</button
      >&nbsp;&nbsp;
      <button mat-stroked-button color="warn" routerLink="/admin/manage/users">
        Get All Users
      </button>
    </div>
  </section>
</div>
<div class="userscontainer">
  <div class="text-test">
    <h2><strong>User snippet</strong></h2>
  </div>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Sr. No.</th>
        <th scope="col">User Id</th>
        <th scope="col">User Name</th>
        <th scope="col">Role</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users; let i = index">
        <td>{{ i + 1 }}</td>
        <td>{{ user.userId }}</td>
        <td>{{ user.username }}</td>
        <td>{{ user.role }}</td>
      </tr>
    </tbody>
  </table>
</div>
